@font-face {
  font-family: 'SolideMirage-Etroit';
  src: url('SolideMirage-Etroit.svg#SolideMirage-Etroit') format('svg'),
       url('SolideMirage-Etroit.ttf') format('truetype'),
       url('SolideMirage-Etroit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Solide_Mirage-Etroit_web';
  src: url('Solide_Mirage-Etroit_web.eot');
  src: url('Solide_Mirage-Etroit_web.eot?#iefix') format('embedded-opentype'),
       url('Solide_Mirage-Etroit_web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

