*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	font-size: 1em;
}

.header{
	margin: 0;
	padding: 0;
	height: 5vh;
}

.main {
	border: solid 2px red;
}

#landing-container {
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#skills-container {
	height: 100vh;
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	align-items: center;
}

#about-container {
	height: 100vh;
	display: grid;
}

.about {
	grid-column: 1 / 2;
	
}

.about-txt {
	grid-column: 2 / 3;
}

.footer {
	border: solid 2px red;
}
